.table-MA {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    font-family: sans-serif;
    min-width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-MA thead tr {
    background-color: #4CAF50;
    color: #ffffff;
    text-align: left;
}

.table-MA th, .table-MA td {
    padding: 12px 15px;
}

.table-MA tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-MA tbody tr.active-row {
    font-weight: bold;
    color: #388E3C;
}

.main_content {
    clear: both;
    min-height: 700px;
}

.pull-right {
    position: absolute;
    right: 240px;
    top: 205px;
}

.round-button-MA {
    font-family: 'IBM Plex Sans', sans-serif;
    height: 40px;
    line-height: 40px;
    width: 40px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    cursor: pointer;
    display: block;
}

.round-button-MA:hover {
    background: #A5D6A7;
    color: black;
}