body {
   background: url(images/background.jpg) repeat-x #e4e9ec top;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   margin: 0px auto auto auto;
   color: #000;
   /*width:100%;
   height:100%;*/
}

p {
   padding: 2px;
   margin: 0px;
}

#main_container {
   width: 1000px;
   height: auto;
   margin: auto;
   padding: 0px;
   background-color: #FFFFFF;
   min-height: 755px;
}

#header {
   width: 1000px;
   height: 136px;
   background: url(images/upp.jpg) no-repeat;
   background-position: 0px 0px;
   background-size: cover;
   margin: auto;
}

#main_content {
   clear: both;
}

.languages {
   float: right;
   width: 150px;
   padding: 8px 0 0 0;
}

.lang_text {
   float: left;
   padding: 0 5px 0 0;
   color: #1DA1CF;
}

a.lang {
   display: block;
   float: left;
   padding: 0 5px 0 5px;
}

.top_right {
   width: 728px;
   float: right;
}

#menu_tab {
   width: 1000px;
   height: 36px;
   background: url(images/menu_bg.gif) repeat-x;
}

ul.menu {
   list-style-type: none;
   float: left;
   display: block;
   width: 982px;
   margin: 0px;
   padding: 0px;
   background: url(images/menu_bg.gif) repeat-x;
}

ul.menu li {
   display: inline;
   font-size: 11px;
   font-weight: bold;
   line-height: 36px;
}

ul.menu li.divider {
   display: inline;
   width: 4px;
   height: 36px;
   float: left;
   background: url(images/menu_divider.gif) no-repeat center;
}

a.nav:link, a.nav:visited {
   display: block;
   float: left;
   padding: 0px 8px 0px 8px;
   margin: 0 14px 0 14px;
   height: 36px;
   text-decoration: none;
   color: #fff;
}

a.nav:hover {
   display: block;
   float: left;
   padding: 0px 8px 0px 8px;
   margin: 0 14px 0 14px;
   height: 36px;
   text-decoration: none;
   color: #199ECD;
}

.current_navigation {
   width: 980px;
   height: 15px;
   padding: 5px 10px 0 20px;
   color: #333333;
   background: url(images/navbullet.png) no-repeat left;
   background-position: 5px 8px;
}

.current_navigation a {
   color: #0fa0dd;
   text-decoration: underline;
}

span.current {
   color: #0fa0dd;
}

/*-------------left_content------------------ EMAN188849*/

.left_content {
   width: 180px;
   float: left;
   padding: 0 0 0 5px;
}

.title_box {
   width: 180px;
   height: 30px;
   margin: 5px 0 0 0;
   background: url(images/menu_title_bg.gif) no-repeat center;
   text-align: center;
   font-size: 13px;
   font-weight: bold;
   color: #159dcc;
   line-height: 30px;
}

/*--------left menu--------- EMAN188849*/

ul.left_menu {
   width: 180px;
   padding: 0px;
   margin: 0px;
   list-style: none;
}

ul.left_menu li {
   margin: 0px;
   list-style: none;
}

ul.left_menu li.odd a {
   width: 166px;
   height: 25px;
   display: block;
   border-bottom: 1px #e4e4e4 dashed;
   text-decoration: none;
   color: #504b4b;
   padding: 0 0 0 14px;
   line-height: 25px;
}

ul.left_menu li.even a {
   width: 166px;
   height: 25px;
   display: block;
   border-bottom: 1px #e4e4e4 dashed;
   background-color: #f0f4f5;
   text-decoration: none;
   color: #504b4b;
   padding: 0 0 0 14px;
   line-height: 25px;
}

ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover {
   color: #000;
   text-decoration: underline;
}

.border_box {
   width: 180px;
   height: auto;
   text-align: center;
   background: url(images/box_bottom_bg.gif) no-repeat center bottom;
}

.product_title {
   color: #ff8a00;
   padding: 5px 0 5px 0;
   font-weight: bold;
}

.product_title a {
   text-decoration: none;
   color: #ff8a00;
   padding: 5px 0 5px 0;
   font-weight: bold;
}

.product_title a:hover {
   color: #064E5A;
}

.product_img {
   padding: 5px 0 5px 0;
}

.prod_price {
   padding: 5px 0 5px 0;
}

span.reduce {
   color: #666666;
   text-decoration: line-through;
}

span.price {
   color: #ff8a00;
}

#searchbox {
   width: 150px;
   height: 16px;
   float: right;
   border: 1px #ddd9d9 solid;
   margin: 7px 10px 0;
   font-size: 12px;
   padding: 3px;
   color: #999999;
}

#srch {
   margin: 9px 490px 0;
   position: absolute;
}

.oferta {
   width: 585px;
   height: 156px;
   background: url(images/bgkinder.jpg) no-repeat center;
   float: left;
   padding: 0px;
   margin: 0 0 5px 5px;
}

.oferta_img {
   float: left;
   padding: 10px 0 0 10px;
}

.oferta_title {
   font-size: 15px;
   color: #159dcc;
   font-weight: bold;
   margin: -115px 0 5px 5px;
}

.oferta_details {
   width: 340px;
   float: left;
   padding: 0px 0 0 400px;
}

.oferta_text {
   padding: 5px 0 5px 0;
   font-size: 12px;
   color: #159dcc;
   text-align: justify;
   line-height: 15px;
   margin-left: 35px;
}

/*center content-------------------------- EMAN188849*/

.center_content {
   width: 600px;
   float: left;
   padding: 5px 10px 5px 15px;
}

.center_title_bar {
   width: 575px;
   height: 31px;
   float: left;
   padding: 0 0 0 10px;
   margin: 0 0 0 5px;
   line-height: 31px;
   font-size: 12px;
   color: #159DCC;
   font-weight: bold;
   background: url(images/bar_bg.gif) no-repeat center;
}

/*----------------------right content-------------- EMAN188849*/

.right_content {
   width: 180px;
   float: left;
   padding: 0px;
   margin-bottom: 100px;
}

.shopping-cart {
   width: 180px;
   height: 423px;
   margin: 30px auto;
   background: #FFFFFF;
   box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
   border-radius: 6px;
   display: flex;
   flex-direction: column;
}

.title1 {
   height: 40px;
   border-bottom: 1px solid #E1E8EE;
   padding: 10px 15px;
   color: #5E6977;
   font-size: 22px;
   font-weight: 400;
   font-family: 'monospace';
}

.item {
   padding: 8px 18px;
   height: 120px;
}

.item:nth-child(3) {
   border-top: 1px solid #E1E8EE;
   border-bottom: 1px solid #E1E8EE;
}

#newdiv {
   font-size: 15px;
   font-weight: 400;
   font-family: 'monospace';
}

#newdiv2 {
   font-size: 12px;
   font-weight: 400;
   font-family: 'monospace';
   text-decoration: underline;
   color: #FF0000;
}

.anime {
   opacity: 0.5;
}

/*---------prod_box---------- EMAN188849*/

.prod_box {
   width: 173px;
   height: auto;
   float: left;
   padding: 10px 10px 10px 11px;
}

.center_prod_box {
   width: 173px;
   height: auto;
   float: left;
   text-align: center;
   padding: 0px;
   margin: 0px;
   border: 1px #F0F4F5 solid;
}

.prod_details_tab {
   width: 173px;
   height: 31px;
   float: left;
   margin: 6px 0 0 0;
   margin-left: 20px;
}

.prod_buyy {
   margin-left: 40px;
}

a.prod_details {
   width: 75px;
   height: 24px;
   display: block;
   float: right;
   background: url(images/link_bg.gif) no-repeat center;
   margin: -1px 5px 0 0;
   text-align: center;
   line-height: 24px;
   text-decoration: none;
   color: #159dcc;
}

/*---------------contact_form------------------ EMAN188849*/

.contact_form {
   width: 355px;
   float: left;
   padding: 0px 0 0 75px;
}

.form_row {
   width: 335px;
   clear: both;
   padding: 10px 0 10px 0;
   color: #a53d17;
}

label.contact {
   width: 75px;
   float: left;
   font-size: 12px;
   text-align: right;
   padding: 4px 5px 0 0;
   color: #333333;
}

input.contact_input {
   width: 253px;
   height: 18px;
   background-color: #fff;
   color: #999999;
   border: 1px #DFDFDF solid;
   float: left;
}

textarea.contact_textarea {
   width: 253px;
   height: 100px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #999999;
   background-color: #fff;
   border: 1px #DFDFDF solid;
   float: left;
}

a.contact {
   width: 99px;
   height: 27px;
   display: block;
   float: right;
   margin: 0 0 0 10px;
   background: url(images/contact_bt.gif) no-repeat left;
   padding: 0 0 0 10px;
   text-decoration: none;
   line-height: 27px;
   color: #1c4a52;
}

/*--------------footer---------------- EMAN188849*/

.footer {
   width: 1000px;
   clear: both;
   height: 75px;
   background: url(images/footer_bg.gif) repeat-x top;
   /* bottom: 0px;
   position:absolute;
   */
}

.left_footer {
   float: left;
   width: 300px;
   padding: -35px 0 0 10px;
}

.center_footer {
   float: left;
   width: 200px;
   text-align: center;
   color: #666666;
   padding: 10px 0 0 60px;
}

#shc {
   font-size: 12px;
   font-family: monospace;
}

#panel, #flip {
   padding: 10px;
   text-align: center;
   font-size: 15px;
   background-color: #e5eecc;
   border: solid 1px #c3c3c3;
}

#panel {
   padding: 5px;
   display: none;
}

#username, #password {
   margin-left: 100px;
}

#password {
   margin-left: 144px;
}

#loginbutton {
   margin-left: 30px;
   margin: 5px;
}

#flip {
   margin-left: 20px;
}

change_link {
   font-family: inherit;
}

#username2 {
   margin-left: 20px;
}

#password2 {
   margin-left: 80px;
}

#passworddmsg {
   margin-left: 27px;
}

/*--------admin edit content EMAN188849*/

msg {
   position: relative;
   padding-right: 35px;
   margin-bottom: 10px;
}

.msg p {
   padding: 9px 10px 9px 40px;
   font-size: 12px;
   background-repeat: no-repeat;
   background-position: 10px 5px;
}

.msg a.close {
   font-size: 0;
   line-height: 0;
   position: absolute;
   top: 0;
   right: 0;
   width: 34px;
   height: 34px;
   background: url(images/close.gif);
   text-indent: -4000px;
}

.msg-ok p {
   background-color: #fffac2;
   border: solid 1px #dbd6a2;
   color: #5e5c40;
   background-image: url(images/msg-ok.gif);
}

.msg-error p {
   background-color: #f3c598;
   border: solid 1px #e8b084;
   color: #ba4c32;
   background-image: url(images/msg-error.gif);
}

msg-e p {
   background-color: #f3c598;
   border: solid 1px #e8b084;
   color: #ba4c32;
}

.table th {
   background: #fffdfa url(images/th.gif) repeat-x 0 0;
   color: #818181;
   text-align: left;
   padding: 7px 10px;
   border-bottom: solid 1px #d2d1cb;
}

.table td {
   background: #fbfcfc;
   border-bottom: solid 1px #e0e0e0;
   padding: 7px 10px;
}

.table tr.odd td {
   background: #f8f8f8;
}

.table tr:hover td {
   background: #fff9e1;
}

.box {
   border-radius: 5px;
   -border-radius: 5px;
   box-shadow: 0 0 6px #978f6c;
   box-shadow: 0 0 6px #978f6c;
}

.box-head {
   margin-bottom: 10px;
   border-top-left-radius: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

#pc1 {
   margin-right: 50px;
}

.table {
   height: 500px;
}

/* Manage Accounts Adham183024 */

#usersTable tr {
   display: none;
}



.table-MA {
   border-collapse: collapse;
   margin: 25px 0;
   font-size: 16px;
   font-family: sans-serif;
   min-width: 700px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-MA thead tr {
   background-color: #4CAF50;
   color: #ffffff;
   text-align: left;
}

.table-MA th, .table-MA td {
   padding: 12px 15px;
}

.table-MA tbody tr {
   border-bottom: 1px solid #dddddd;
}

.table-MA tbody tr.active-row {
   font-weight: bold;
   color: #388E3C;
}

.main_content {
   clear: both;
   min-height: 700px;
}

.pull-right {
   position: absolute;
   right: 500px;
   top: 205px;
}

.round-button-MA {
   font-family: 'IBM Plex Sans', sans-serif;
   height: 40px;
   line-height: 40px;
   width: 40px;
   font-size: 24px;
   font-weight: bold;
   border-radius: 50%;
   background-color: #4CAF50;
   color: white;
   text-align: center;
   cursor: pointer;
   display: block;
}

.round-button-MA:hover {
   background: #A5D6A7;
   color: black;
}

.pagination {
   display: inline-block;
}

.pagination a {
   font-size: 15px;
   color: black;
   float: left;
   padding: 8px 16px;
   text-decoration: none;
   transition: background-color .3s;
}

.pagination a.active {
   background-color: #4CAF50;
   color: white;
}

.pagination a:hover:not(.active) {
   background-color: #ddd;
}

/* Shopping cart Adham183024 */

.shopping_cart {
   background: #FFFFFF;
   box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.10);
   border-radius: 6px;
   display: flex;
   flex-direction: column;
}

.item_SC {
   padding: 20px 30px;
   height: 120px;
   display: flex;
}

.item_SC:nth-child(3) {
   border-top: 1px solid #E1E8EE;
   border-bottom: 1px solid #E1E8EE;
}

.buttons {
   position: relative;
   padding-top: 30px;
   margin-right: 20px;
}

.delete-btn {
   display: inline-block;
   Cursor: pointer;
}

.delete-btn {
   width: 18px;
   height: 17px;
   background: url(images/close_black_18dp.svg) no-repeat center;
}

.image_SC {
   margin-right: 25px;
}

.description {
   padding-top: 10px;
   margin-right: 30px;
   width: 100px;
}

.description span {
   display: block;
   font-size: 14px;
   color: #43484D;
   font-weight: 400;
}

.description span:first-child {
   margin-bottom: 5px;
}

.description span:last-child {
   font-weight: 300;
   margin-top: 8px;
   color: #86939E;
}

.quantity {
   padding-top: 20px;
   margin-right: 60px;
}

.quantity input {
   -webkit-appearance: none;
   border: none;
   text-align: center;
   width: 32px;
   font-size: 16px;
   color: #43484D;
   font-weight: 300;
}

.quantity button[class*=btn] {
   width: 30px;
   height: 30px;
   background-color: #E1E8EE;
   border-radius: 6px;
   border: none;
   cursor: pointer;
}

.icon-btn span {
   margin-left: -2px;
}

.quantity button:focus, .quantity input:focus {
   outline: 0;
}

.total-price {
   width: 83px;
   padding-top: 27px;
   text-align: center;
   font-size: 16px;
   color: #43484D;
   font-weight: 300;
}

@media (max-width: 800px) {
   .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
   }
   .quantity, .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
   }
   .buttons {
      margin-right: 20px;
   }
}

/* Product Details && Product List ELWII */

.price_container_PD {
   box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.10);
   border-radius: 6px;
   display: flex;
   flex-direction: column;
   margin-left: 15px;
   margin-right: 15px;
   padding-right: 5px;
   padding-left: 5px;
   margin-bottom: 25px;
}

.currency_text_PD {
   font-size: 1rem;
}

.vat_text_PD {
   color: #999;
   margin-top: -30px;
}

.center_content_PD {
   width: 600px;
   float: left;
   padding: 5px 10px 5px 15px;
   height: 700px;
}

p.bold {
   border-style: solid;
}

.container {
   width: 600px;
   margin: 50px auto;
}

.searchbox {
   position: relative;
   min-width: 50px;
   width: 0%;
   height: 36px;
   float: right;
   overflow: hidden;
   -webkit-transition: width 0.3s;
   -moz-transition: width 0.3s;
   -ms-transition: width 0.3s;
   -o-transition: width 0.3s;
   transition: width 0.3s;
}

.searchbox-input {
   top: 0;
   right: 0;
   border: 0;
   outline: 0;
   background: #dcddd8;
   width: 100%;
   height: 36px;
   margin: 0;
   padding: 0px 55px 0px 20px;
   font-size: 20px;
   color: red;
}

.searchbox-input::-webkit-input-placeholder {
   color: #d74b4b;
}

.searchbox-input:-moz-placeholder {
   color: #d74b4b;
}

.searchbox-input::-moz-placeholder {
   color: #d74b4b;
}

.searchbox-input:-ms-input-placeholder {
   color: #d74b4b;
}

.searchbox-icon, .searchbox-submit {
   width: 50px;
   height: 36px;
   display: block;
   position: absolute;
   top: 0;
   font-family: verdana;
   font-size: 10px;
   right: 0;
   padding: 0;
   margin: 0;
   border: 0;
   outline: 0;
   line-height: 48px;
   text-align: center;
   cursor: pointer;
   color: #dcddd8;
   background: #54545c;
}

.searchbox-open {
   width: 30%;
}

.byline {
   position: absolute;
   top: 150px;
   left: 30%;
   text-align: center;
   font-size: 18px;
}

.byline a {
   text-decoration: none;
   color: #d74b4b;
}

/* ------------------------HASSAN------------------ */

.MyOrders #OrderHeaders {
   font-weight: bold;
   font-size: 150%;
   color: rgb(40, 71, 156);
   word-spacing: 100px;
}

.MyOrders #Orders {
   padding-top: 10px;
   padding-left: 120px;
   width: 210px;
}

.MyOrders .OrderTitle {
   font-weight: bold;
   font-size: 120%;
   padding: 1px;
   Margin-left: 73px;
   color: rgb(40, 156, 67);
   text-decoration: none;
}

.MyOrders #itemNames1 {
   display: inline-block;
   float: left;
   width: 100px;
}

.MyOrders #prices1 {
   float: right;
   padding-right: 32px;
}

.MyOrders #itemNames2 {
   display: inline-block;
   float: left;
   width: 100px;
}

.MyOrders #prices2 {
   float: right;
   padding-right: 32px;
}

.Track_Order1 #titles1 {
   padding-top: 30px;
   float: left;
   padding-left: 120px;
   font-weight: bold;
   color: rgb(40, 156, 67);
}

.Track_Order1 #variables1 {
   padding-top: 30px;
   float: right;
   padding-right: 120px;
}

.Track_Order2 #titles2 {
   padding-top: 30px;
   float: left;
   padding-left: 120px;
   font-weight: bold;
   color: rgb(40, 156, 67);
}

.Track_Order2 #variables2 {
   padding-top: 30px;
   float: right;
   padding-right: 120px;
}

a.OrderTitle:hover {
   Color: #199ECD;
   ;
}